.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap:1.25rem;
}

.secao-horizontal .cartao__imagem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.secao-horizontal .cartao__titulo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
}
/*
.secao-horizontal .cartao__subtitulo {
    grid-area: 2 / 2 / 3 / 3;
}

.secao-horizontal .cartao__player {
    grid-area: 3 / 2 / 4 / 3;
}
*/
.secao-horizontal .cartao__botao {
    grid-area: 1 / 3 / 4 / 4;
}